<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.practice.board.mapper.BoardMapper">
    <insert id="insert">
        insert into practice_board values(
            practice_board_seq.nextval,
            #{title},
            #{content},
            #{writer},
            sysdate,
            0
        )
    </insert>

    <select id="boardList" resultType="com.practice.board.domain.BoardListDTO">
        select bno, title, writer, to_char(regDate,'yyyy-mm-dd hh:mm:ss') as regDate, count from view_practice_board
    </select>

    <select id="select" resultType="com.practice.board.domain.SelectDTO">
        select bno, title, writer, content, to_char(regDate,'yyyy-mm-dd hh:mm:ss') as regDate, count from view_practice_board where bno = #{bno}
    </select>

    <update id="count">
        update view_practice_board set count = count + 1
        where bno = #{bno}
    </update>

    <update id="update">
        update view_practice_board set content = #{content}
        where bno = #{bno}
    </update>

    <delete id="delete">
        delete from view_practice_board where bno = #{bno}
    </delete>
</mapper>